body {
    background-color: black;
}

#playarea {

    background-image: url("sprites/grass.png");
    width: 1280px;
    height: 648px;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}